parameters:
	ignoreErrors:
		# Missing array value type specifications
		- '#Method CodebarAg\\MFiles\\DTO\\AuthenticationToken::toArray\(\) return type has no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\DTO\\ConfigWithCredentials::fromArray\(\) has parameter \$data with no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\DTO\\ConfigWithCredentials::toArray\(\) return type has no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\DTO\\Document::__construct\(\) has parameter \$files with generic class Illuminate\\Support\\Collection but does not specify its types#'
		- '#Method CodebarAg\\MFiles\\DTO\\Document::__construct\(\) has parameter \$properties with generic class Illuminate\\Support\\Collection but does not specify its types#'
		- '#Method CodebarAg\\MFiles\\DTO\\Document::fromArray\(\) has parameter \$data with no value type specified in iterable type array#'
		- '#Unable to resolve the template type TKey in call to function collect#'
		- '#Unable to resolve the template type TValue in call to function collect#'
		- '#Method CodebarAg\\MFiles\\DTO\\Document::toArray\(\) return type has no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\DTO\\DownloadedFile::fromArray\(\) has parameter \$data with no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\DTO\\DownloadedFile::toArray\(\) return type has no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\DTO\\File::fromArray\(\) has parameter \$data with no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\DTO\\File::toArray\(\) return type has no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\DTO\\ObjectProperties::__construct\(\) has parameter \$properties with generic class Illuminate\\Support\\Collection but does not specify its types#'
		- '#Method CodebarAg\\MFiles\\DTO\\ObjectProperties::fromArray\(\) has parameter \$data with no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\DTO\\ObjectProperties::toArray\(\) return type has no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\DTO\\Property::__construct\(\) has parameter \$lookupValues with no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\DTO\\Property::fromArray\(\) has parameter \$data with no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\DTO\\Property::toArray\(\) return type has no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\DTO\\PropertyValue::toArray\(\) return type has no value type specified in iterable type array#'
		- '#Unable to resolve the template type TCacheValue in call to method Illuminate\\Contracts\\Cache\\Repository::remember#'
		- '#Method CodebarAg\\MFiles\\Requests\\CreateSingleFileDocumentRequest::__construct\(\) has parameter \$files with no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\Requests\\CreateSingleFileDocumentRequest::__construct\(\) has parameter \$propertyValues with no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\Requests\\CreateSingleFileDocumentRequest::defaultBody\(\) return type has no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\Requests\\LogInToVaultRequest::defaultBody\(\) return type has no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\Requests\\UploadFileRequest::defaultBody\(\) return type has no value type specified in iterable type array#'
		- '#Method CodebarAg\\MFiles\\Requests\\UploadFileRequest::createDtoFromResponse\(\) return type has no value type specified in iterable type array#'
		# Level 9 - Mixed type issues from external API data
		- '#Method CodebarAg\\MFiles\\DTO\\AuthenticationToken::getOrCreate\(\) should return CodebarAg\\MFiles\\DTO\\AuthenticationToken but returns mixed#'
		- '#Parameter \$url of class CodebarAg\\MFiles\\DTO\\ConfigWithCredentials constructor expects string, mixed given#'
		- '#Parameter \$vaultGuid of class CodebarAg\\MFiles\\DTO\\ConfigWithCredentials constructor expects string, mixed given#'
		- '#Parameter \$username of class CodebarAg\\MFiles\\DTO\\ConfigWithCredentials constructor expects string, mixed given#'
		- '#Parameter \$password of class CodebarAg\\MFiles\\DTO\\ConfigWithCredentials constructor expects string, mixed given#'
		- '#Parameter \$sessionId of class CodebarAg\\MFiles\\DTO\\ConfigWithCredentials constructor expects string\|null, mixed given#'
		- '#Parameter \$cacheDriver of class CodebarAg\\MFiles\\DTO\\ConfigWithCredentials constructor expects string\|null, mixed given#'
		- '#Parameter \$id of class CodebarAg\\MFiles\\DTO\\Document constructor expects int\|null, mixed given#'
		- '#Parameter \$title of class CodebarAg\\MFiles\\DTO\\Document constructor expects string\|null, mixed given#'
		- '#Cannot cast mixed to string#'
		- '#Parameter \$objectType of class CodebarAg\\MFiles\\DTO\\Document constructor expects string\|null, mixed given#'
		- '#Parameter \$objectTypeId of class CodebarAg\\MFiles\\DTO\\Document constructor expects int\|null, mixed given#'
		- '#Parameter \$version of class CodebarAg\\MFiles\\DTO\\Document constructor expects string\|null, mixed given#'
		- '#Parameter.*\$time of static method Carbon\\CarbonImmutable::parse\(\) expects.*mixed given#'
		- '#Parameter \$createdBy of class CodebarAg\\MFiles\\DTO\\Document constructor expects string\|null, mixed given#'
		- '#Parameter \$lastModifiedBy of class CodebarAg\\MFiles\\DTO\\Document constructor expects string\|null, mixed given#'
		- '#Parameter \$isCheckedOut of class CodebarAg\\MFiles\\DTO\\Document constructor expects bool\|null, mixed given#'
		- '#Parameter \$checkedOutBy of class CodebarAg\\MFiles\\DTO\\Document constructor expects string\|null, mixed given#'
		- '#Parameter \$isDeleted of class CodebarAg\\MFiles\\DTO\\Document constructor expects bool\|null, mixed given#'
		- '#Parameter \$propertyID of class CodebarAg\\MFiles\\DTO\\Document constructor expects int\|null, mixed given#'
		- '#Parameter.*\$callback of method Illuminate\\Support\\Collection::map\(\) expects callable\(mixed, int\|string\): CodebarAg\\MFiles\\DTO\\Property, Closure\(array\): CodebarAg\\MFiles\\DTO\\Property given#'
		- '#Parameter.*\$value of function collect expects.*mixed given#'
		- '#Parameter.*\$callback of method Illuminate\\Support\\Collection::map\(\) expects callable\(mixed, int\|string\): CodebarAg\\MFiles\\DTO\\File, Closure\(array\): CodebarAg\\MFiles\\DTO\\File given#'
		- '#Parameter.*\$callback of method Illuminate\\Support\\Collection::map\(\) expects callable\(mixed, int\|string\): array, Closure\(CodebarAg\\MFiles\\DTO\\Property\): array given#'
		- '#Parameter.*\$callback of method Illuminate\\Support\\Collection::map\(\) expects callable\(mixed, int\|string\): array, Closure\(CodebarAg\\MFiles\\DTO\\File\): array given#'
		- '#Parameter \$content of class CodebarAg\\MFiles\\DTO\\DownloadedFile constructor expects string, mixed given#'
		- '#Parameter \$name of class CodebarAg\\MFiles\\DTO\\DownloadedFile constructor expects string\|null, mixed given#'
		- '#Parameter \$extension of class CodebarAg\\MFiles\\DTO\\DownloadedFile constructor expects string\|null, mixed given#'
		- '#Parameter \$size of class CodebarAg\\MFiles\\DTO\\DownloadedFile constructor expects int\|null, mixed given#'
		- '#Parameter \$contentType of class CodebarAg\\MFiles\\DTO\\DownloadedFile constructor expects string\|null, mixed given#'
		- '#Parameter \$id of class CodebarAg\\MFiles\\DTO\\File constructor expects int\|null, mixed given#'
		- '#Parameter \$name of class CodebarAg\\MFiles\\DTO\\File constructor expects string\|null, mixed given#'
		- '#Parameter \$extension of class CodebarAg\\MFiles\\DTO\\File constructor expects string\|null, mixed given#'
		- '#Parameter \$size of class CodebarAg\\MFiles\\DTO\\File constructor expects int\|null, mixed given#'
		- '#Parameter \$objectId of class CodebarAg\\MFiles\\DTO\\ObjectProperties constructor expects int\|null, mixed given#'
		- '#Parameter \$objectType of class CodebarAg\\MFiles\\DTO\\ObjectProperties constructor expects string\|null, mixed given#'
		- '#Parameter \$objectTypeId of class CodebarAg\\MFiles\\DTO\\ObjectProperties constructor expects int\|null, mixed given#'
		- '#Parameter.*\$value of static method CodebarAg\\MFiles\\Enums\\MFDataTypeEnum::tryFrom\(\) expects int\|string, mixed given#'
		- '#Parameter \$id of class CodebarAg\\MFiles\\DTO\\Property constructor expects int\|null, mixed given#'
		- '#Parameter \$name of class CodebarAg\\MFiles\\DTO\\Property constructor expects string\|null, mixed given#'
		- '#Parameter \$dataTypeId of class CodebarAg\\MFiles\\DTO\\Property constructor expects int\|null, mixed given#'
		- '#Parameter \$hasValue of class CodebarAg\\MFiles\\DTO\\Property constructor expects bool\|null, mixed given#'
		- '#Parameter \$displayValue of class CodebarAg\\MFiles\\DTO\\Property constructor expects string\|null, mixed given#'
		- '#Parameter \$lookupValues of class CodebarAg\\MFiles\\DTO\\Property constructor expects array\|null, mixed given#'
		- '#Parameter \$value of class CodebarAg\\MFiles\\DTO\\AuthenticationToken constructor expects string, mixed given#'
		- '#Cannot cast mixed to int#'
		- '#Parameter.*\$contentDisposition of static method CodebarAg\\MFiles\\Responses\\DownloadFileResponse::extractFilenameFromContentDisposition\(\) expects string, mixed given#'
		- '#Parameter \$contentType of class CodebarAg\\MFiles\\DTO\\DownloadedFile constructor expects string\|null, mixed given#'
		# Additional Level 9 patterns
		- '#Parameter \$1 \$callback of method Illuminate\\Support\\Collection.*map\(\) expects callable\(mixed, int\|string\): CodebarAg\\MFiles\\DTO\\Property, Closure\(array\): CodebarAg\\MFiles\\DTO\\Property given#'
		- '#Parameter \$1 \$callback of method Illuminate\\Support\\Collection.*map\(\) expects callable\(mixed, int\|string\): CodebarAg\\MFiles\\DTO\\File, Closure\(array\): CodebarAg\\MFiles\\DTO\\File given#'
		- '#Parameter \$1 \$callback of method Illuminate\\Support\\Collection.*map\(\) expects callable\(mixed, int\|string\): array, Closure\(CodebarAg\\MFiles\\DTO\\Property\): array given#'
		- '#Parameter \$1 \$callback of method Illuminate\\Support\\Collection.*map\(\) expects callable\(mixed, int\|string\): array, Closure\(CodebarAg\\MFiles\\DTO\\File\): array given#'
		- '#Parameter \$1 \$callback of method Illuminate\\Support\\Collection<\(int\|string\),mixed>::map\(\) expects callable\(mixed, int\|string\): CodebarAg\\MFiles\\DTO\\Property, Closure\(array\): CodebarAg\\MFiles\\DTO\\Property given#'
		- '#Parameter \$1 \$callback of method Illuminate\\Support\\Collection<\(int\|string\),mixed>::map\(\) expects callable\(mixed, int\|string\): CodebarAg\\MFiles\\DTO\\File, Closure\(array\): CodebarAg\\MFiles\\DTO\\File given#'
		- '#Parameter \$1 \$callback of method Illuminate\\Support\\Collection<\(int\|string\),mixed>::map\(\) expects callable\(mixed, int\|string\): array, Closure\(CodebarAg\\MFiles\\DTO\\Property\): array given#'
		- '#Parameter \$1 \$callback of method Illuminate\\Support\\Collection<\(int\|string\),mixed>::map\(\) expects callable\(mixed, int\|string\): array, Closure\(CodebarAg\\MFiles\\DTO\\File\): array given#'
