includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - config
        - src
        - tests
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    noEnvCallsOutsideOfConfig: false
